.cask
.tmp
tmp
*.cache
recentf
ido.last
.DS_Store
auto-save-lit
eshell
\#*\#
.emacs.desktop
/Cask.bak
/smex-items
/.mc-lists.el
SessionDesktop.el
ede-projects.el
tramp
bookmarks
edts/
url/
ac-comphist.dat